

*.class
*.log
# sbt specific
.cache/

.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.cache
.settings
.classpath
.project
*.iml
.idea
.DS_Store

#https://farm8.staticflickr.com/7020/6506125099_0c74a1bbab.jpg
